<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'styling.css') }}">
    <title>checker board</title>
</head>
<body>
    <table>
        {%for i in range(rows): %}
        <tr>
            {%for j in range(columns): %}
            <td class="Col{{(i + j) % 2 + 1}} Square"></td>
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
</body>
</html>